<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li class="active">
      <%= link_to root_path do %>
        <i class="fa fa-fw fa-dashboard"></i>
        Dashboard
        <% end %>
    </li>
    <li>
      <%= link_to slack_commands_path do %>
        <i class="fa fa-fw fa-table"></i>
        Commandes Slack
      <% end %>
    </li>
    <li>
      <%= link_to slack_teams_path do %>
        <i class="fa fa-fw fa-users"></i>
        Slack Team
      <% end %>
    </li>
    <li>
      <%= link_to slack_users_path do %>
        <i class="fa fa-fw fa-user"></i>
        Slack Users
        <% end %>
    </li>
    <li>
      <%= link_to slack_channels_path do %>
        <i class="fa fa-fw fa-desktop"></i>
        Slack Channels
      <% end %>
    </li>

    <li>
      <%= link_to slack_tasks_path do %>
        <i class="fa fa-fw fa-check"></i>
        Slack Tasks
      <% end %>
    </li>

    <li>
      <a href="javascript:;" data-toggle="collapse" data-target="#demo">
        <i class="fa fa-fw fa-arrows-v"></i>
        Dropdown
        <i class="fa fa-fw fa-caret-down"></i>
      </a>
      <ul id="demo" class="collapse">
        <li>
          <a href="#">Dropdown Item</a>
        </li>
        <li>
          <a href="#">Dropdown Item</a>
        </li>
      </ul>
    </li>


  </ul>
</div>
